{% extends 'base.html' %}
{% block content %}
<div class="row mt-3 mb-3">
  <div class="col-2">
    <img class="img-fluid"src="{{ product.icon.url }}"/>
  </div>
  <div class="col-10">
    <a href="{{ product.url }}" target="_blank"><h1>{{ product.title }}</h1></a>
  </div>
</div>
<div class="row">
  <div class="col-8">
    <img class="img-fluid"src="{{ product.image.url }}"/>
  </div>
  <div class="col-4">
    <button id="upvote" class="btn btn-primary btn-lg"><span class="oi oi-caret-top"></span> Upvote {{ product.votes_total }}</button>
  </div>
</div>
<div class="row">
  <div class="col-4">
    <h4>Hunted By {{ request.user.username }}</h4>
  </div>
  <div class="col-4 text-end">
    <h4>{{ product.pub_date_pretty }}</h4>
  </div>
</div>
<div class="row">
  <div class="col-8">
    <p>{{ product.body }}</p>
  </div>
</div>
<!--
<script>
  function voteFunction() {
    document.getElementById('upvote'
  }
</script>
-->
{% endblock %}
